<div class="flex flex-col justify-center items-center self-center mt-10">
  <div class="flex flex-col md:flex-1 w-1/2">
    <div class="">
      <p class="text-xl font-semibold text-stone-700">
        First you'll need to deploy a contract
      </p>
    </div>

    <div>
      <p class="text-base text-stone-700">
        You'll need to deploy an ERC-721 contract onto the blockchain before you
        can create a drop .<span
          class="text-center font-medium text-violet-500 cursor-pointer"
        >
          What is a contract ?</span
        >
      </p>
    </div>
  </div>
  <div class="flex flex-col md:flex-1 w-1/2 md:mt-5">Logo Image</div>

  <div
    class="flex flex-row md:flex-1 w-1/2 bg-white border-2 border-violet-100 hover:border-violet-300 rounded-xl my-3 p-6"
  >
    <div
      class="md:w-24 md:h-24 w-12 h-12 rounded-xl mr-4 bg-violet-100 flex flex-col justify-center items-center"
    >
      <label class="custom-file-upload">
        <input
          type="file"
          id="fileInput"
          (change)="onFileSelected($event)"
          accept="image/*, video/*"
        />

        <p class="text-center" style="font-size: 60px">+</p>
      </label>
    </div>
    <div>
      <p>Drag and drop or click to upload</p>
      <p>You may change this after deploying your contract</p>
      <p>Recommended size : 350 x 350 . File type : JPG, PNG, SVG, or GIF</p>
    </div>
  </div>

  <div
    class="flex md:flex-row flex-col w-1/2 justify-center gap-x-8 mt-5 mb-20"
  >
    <div
      class="flex md:flex-col flex-row gap-2 md:flex-1 md:h-auto h-auto p-3 bg-white border-2 border-violet-100 hover:border-violet-300 rounded-xl"
    >
      <div
        class="w-12 h-12 flex justify-center items-center rounded-full bg-violet-100 border-2 border-violet-200"
      >
        <img src="../../../../../assets/ethereum.png" class="w-6 h-6" />
      </div>
      <div class="">
        <p CLASS="font-bold text-stone-700">Sepolia</p>
        <div class="text-stone-600">Estimated cost to deploy contract</div>
      </div>
      <button
        class="rounded bg-stone-100 px-2 py-0.5 h-10 text-stone-700 md:mb-10"
      >
        Popular
      </button>
    </div>
    <div
      class="flex md:flex-col flex-row gap-2 md:flex-1 md:h-auto h-auto p-3 bg-white border-2 border-violet-100 hover:border-violet-300 rounded-xl"
    >
      <div
        class="w-12 h-12 flex justify-center items-center rounded-full bg-violet-100 border-2 border-violet-200"
      >
        <img src="../../../../../assets/mumbai.svg" class="w-6 h-6" />
      </div>
      <div class="">
        <p CLASS="font-bold text-stone-700">Mumbai</p>
        <div class="text-stone-600">Estimated cost to deploy contract</div>
      </div>
      <button
        class="rounded bg-stone-100 px-2 py-0.5 h-10 text-stone-700 md:mb-10"
      >
        Cheaper
      </button>
      <div></div>
    </div>
    <div
      class="flex md:flex-col flex-row gap-2 md:flex-1 md:h-auto h-auto p-3 bg-white border-2 border-violet-100 hover:border-violet-300 rounded-xl"
    >
      <div
        class="w-8 h-8 flex justify-center items-center rounded-full bg-violet-100 border-2 border-violet-200"
      >
        <img src="../../../../../assets/menu.png" class="w-4 h-4" />
      </div>

      <div class="">
        <p CLASS="font-bold text-stone-700">See more options</p>
      </div>
      <div></div>
    </div>
  </div>
</div>
