* {
  box-sizing: border-box;
}


body {
  margin: 0px;
  font-family: "Inter";
}

.nav {
  height: 50px;
  width: 100%;
  background-color: var(--dark-background);
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  color: var(--light-primary);
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 14px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 10px 10px;
  text-decoration: none;
  color: rgb(177, 143, 143);
}

.nav > .nav-links > a:hover {
  color: var(--light-primary);
  border-radius: 3px;
  padding: 8px 10px 8px 10px;
  background-color: rgba(177, 143, 143, 0.4);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > button {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  /* display: none; */
  position: absolute;
  background-color: var(--light-dark-background);
  min-width: 160px;
  box-shadow: 0px 0px 16px 0px hsla(0, 70%, 82%, 0.293);
  z-index: 1;
  transform: translate(25px, -5px);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--primary);
  padding: 9px 16px;
  text-decoration: none;
  display: block;
  font-size: 13px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f7adad28;
  border-radius: 2%;
}

/* Show the dropdown menu on hover */
.nav > .nav-links > a:hover + .dropdown-content {
  background-color: var(--light-dark-background);
  display: block;
}

.button-nav {
}
