<nav class="navbar transparent" role="navigation" aria-label="main navigation">
  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-start">
      <div class="button-wrapper"><a class="navbar-item" routerLink="/home">Home</a></div>

      <div class="button-wrapper"><a class="navbar-item" routerLink="/category1">Category 1</a></div>

      <div class="button-wrapper"><a class="navbar-item" routerLink="/category2">Category 2</a></div>

      <div class="button-wrapper"><a class="navbar-item" routerLink="/category3">Category 3</a></div>

      <div class="button-wrapper"><a class="navbar-item" routerLink="/category4">Category 4</a></div>
    </div>
  </div>
</nav>
