<div class="flex flex-col justify-center bg-white px-8 py-4">
  <div *ngIf="!pdLessPart_1">
    <div class="absolute right-0 top-0 cursor-pointer" (click)="closeConnect()">
      <img src="../../assets/star-close.svg" class="arrow-back mt-5 mr-5" />
    </div>
    <div class="flex flex-row self-center justify-center align-center mt-6">
      <p class="font-bold text-2xl text-stone-700">Select Your Wallet</p>
    </div>
    <div
      class="flex flex-row self-center justify-center align-center pt-2 pb-5"
    >
      <p class="w-80 text-base text-center text-stone-600">
        By connecting your wallet , you agree to our
        <span class="text-stone-950 underline">Terms of Service</span> and our
        <span class="text-stone-950 underline">Privacy Policy</span>
      </p>
    </div>
    <div></div>
    <div class="flex flex-col">
      <div
        class="flex flex-row px-4 py-3 border-2 border-violet-100 rounded-xl my-1 hover:border-violet-300 hover:bg-violet-100"
        (click)="metamaskConnect()"
      >
        <div><img src="../../assets/metamask.png" class="img-logo" /></div>
        <div class="self-center">
          <p class="text-stone-700 ml-3">Metamask</p>
        </div>
      </div>
      <div
        class="flex flex-row px-4 py-3 border-2 border-violet-100 rounded-xl my-1 hover:border-violet-300 hover:bg-violet-100"
      >
        <div><img src="../../assets/coinbase.png" class="img-logo" /></div>
        <div class="self-center">
          <p class="text-stone-700 ml-3">Coinbase</p>
        </div>
      </div>

      <div
        class="flex flex-row px-4 py-3 border-2 border-violet-100 rounded-xl my-1 hover:border-violet-300 hover:bg-violet-100"
      >
        <div><img src="../../assets/trust.png" class="img-logo" /></div>
        <div class="self-center">
          <p class="text-stone-700 ml-3">Trust Wallet</p>
        </div>
      </div>

      <div
        class="flex flex-row px-4 py-3 border-2 border-violet-100 rounded-xl my-1 hover:border-violet-300 hover:bg-violet-100"
      >
        <div><img src="../../assets/math-wallet.png" class="img-logo" /></div>
        <div class="self-center">
          <p class="text-stone-700 ml-3">Math Wallet</p>
        </div>
      </div>

  
    </div>

    <div
      class="flex flex-row self-center justify-center align-center pt-2 pb-5"
    >
      <p class="text-lg text-center text-stone-700">
        Or connect your address email
      </p>
    </div>

    <div class="flex self-center justify-center align-center w-full">
      <form
        class="w-full"
        *ngIf="!pdLessPart_1"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="flex flex-row mb-4">
          <input
            type="text"
            class="w-full rounded-tl-xl rounded-bl-xl p-3 mt-1 border-2 border-solid border-violet-200 hover:border-violet-300 outline-none"
            formControlName="email"
            placeholder="Email"
            style="padding-right: 1rem"
          />
          <button
            class="rounded-tr-xl rounded-br-xl p-3 mt-1 bg-purple-300 hover:bg-purple-400"
            [ngClass]="{
              'bg-purple-300':
                (!loginForm.controls['email'].pristine &&
                  loginForm.controls['email'].hasError('email')) ||
                loginForm.controls['email'].pristine,
              'bg-purple-400':
                loginForm.controls['email'].dirty ||
                loginForm.controls['email'].hasError('email')
            }"
            [disabled]="
              (!loginForm.controls['email'].pristine &&
                loginForm.controls['email'].hasError('email')) ||
              loginForm.controls['email'].pristine
            "
            (onClick)="onSubmit()"
          >
            <img src="../../assets/arrow-right.svg" />
          </button>
        </div>
      </form>
    </div>
  </div>

  <!--  -->
  <div
    *ngIf="pdLessPart_1"
    class="flex flex-col justify-center self-center py-5"
  >
    <div class="absolute left-0 top-0 cursor-pointer" (click)="closeConnect()">
      <img src="../../assets/star-close.svg" class="arrow-back mt-5 mr-5" />
    </div>
    <div class="flex flex-row self-center justify-center align-center">
      <p class="font-bold text-2xl text-stone-700">Verify code</p>
    </div>
    <div
      class="flex flex-row self-center justify-center align-center w-80 pt-2 pb-5"
    >
      <p class="text-lg text-center text-stone-800">
        Please enter the 6 digit code sent to your email
      </p>
    </div>

    <form [formGroup]="codeVerifForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-row justify-between self-center">
        <div
          *ngFor="let input of codeVerifForm.controls | keyvalue; let i = index"
        >
          <input
            [formControlName]="input.key"
            type="number"
            min="0"
            max="9"
            (keyup)="onKeyup(i, $event)"
            [autofocus]="i === 0"
            class="px-1 py-3 border-2 outline-none border-violet-200 focus:bg-violet-200 rounded mx-1 text-center font-bold text-lg text-violet-700"
            required
          />
        </div>
      </div>
    </form>
    <div
      class="flex flex-col self-center justify-center align-center pt-2 pb-5"
    >
      <div class="text-center">
        <p class="text-lg text-center text-stone-800">
          Didn't receive a code ?
        </p>
      </div>
      <div class="text-center font-medium text-violet-700 cursor-pointer">
        <p>Send again</p>
      </div>
    </div>
  </div>
</div>
