<div class="flex justify-center items-center h-screen bg-stone-500">
  <div class="flex flex-col w-auto bg-stone-800 rounded-3xl">
    <div
      style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(
          180deg,
          var(--primary-color) 10%,
          rgba(33, 150, 243, 0) 30%
        );
      "
    >
      <div
        class="w-full surface-card py-8 px-5 sm:px-8"
        style="border-radius: 53px"
      >
        <div class="text-center mb-5">
          <div class="text-900 text-3xl font-medium mb-3 text-stone-200">
            Welcome
          </div>
          <span class="text-600 font-medium text-stone-400"
            >Connect to Neffty</span
          >
        </div>
        <form
          *ngIf="!pdLessPart_1"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
        >
          <p-inputGroup>
            <input
              type="text"
              class="
              w-96 rounded-lg p-3 bg-stone-700 hover:bg-stone-600"
              formControlName="email"
              pInputText
              placeholder="Email"
              style="padding-right: 1rem"
            />
            <button
              icon="pi pi-arrow-right"
              [disabled]="
                (!loginForm.controls['email'].pristine &&
                  loginForm.controls['email'].hasError('email')) ||
                loginForm.controls['email'].pristine
              "
              (onClick)="onSubmit()"
            ></button>
          </p-inputGroup>
          <div class="text custom-text">
            {{ loginForm.controls["email"].hasError("email") }}
          </div>
          <div
            class="flex align-items-center justify-content-between mb-5 gap-5"
          ></div>
          <div class="container">
            <div class="item" (click)="metamaskConnect()">
              <div class="element spaced">
                <img src="../../assets/metamask.png" class="img-logo" />
                <p class="wallet-name text-stone-400">Metamask</p>
              </div>
              <div class="element text-stone-400"><p>Popular</p></div>
            </div>
            <div class="item">
              <div class="element">
                <img src="../../assets/coinbase.png" class="img-logo" />
                <p class="wallet-name text-stone-400">Coinbase</p>
              </div>

              <div class="element"></div>
            </div>
            <div class="item">
              <div class="element text-stone-400">Wallet Connect</div>
              <div class="element"></div>
            </div>
          </div>
        </form>
        <form
          *ngIf="pdLessPart_1"
          [formGroup]="codeVerifForm"
          (ngSubmit)="onSubmit()"
        >
          <div
            class="flex flex-row justify-between"
            [formGroup]="codeVerifForm"
          >
            <div
              *ngFor="
                let input of codeVerifForm.controls | keyvalue;
                let i = index
              "
            >
              <input
                [formControlName]="input.key"
                type="number"
                min="0"
                max="9"
                (keyup)="onKeyup(i, $event)"
                [autofocus]="i === 0"
                class="p-3 bg-stone-700 hover:bg-stone-600 rounded mx-4"
                required
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
