<div>
  <!-- stepper -->
</div>

<div *ngIf="stepOne" class="flex justify-center align-center py-16">
  <div class="flex flex-row bg-stone-800 w-1/2 gap-x-10">
    <div class="flex flex-col flex-1">
      <div
        class="rounded bg-stone-700 p-6 h-40 hover:bg-stone-500"
        (click)="dropCollection()"
      >
        <p class="text-stone-100 mb-2">Drop a collection</p>

        <p class="text-stone-100">
          Launch your NFT collection for others to mint.
        </p>
      </div>
    </div>
    <div class="flex flex-col flex-1">
      <div class="rounded bg-stone-700 p-6 h-40 hover:bg-stone-500">
        <p class="text-stone-100 mb-2">Mint an NFT</p>

        <p class="text-stone-100">
          Create a collection and mint NFTs directly to your wallet.
        </p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="stepTwo" class="grid-container bg-stone-800">
  <div class="left-column">
    <div class="file-drop-zone">
      <div
        class="drag-drop-area bg-stone-700 hover:bg-stone-600 rounded-lg"
        (drop)="onFileDropped($event)"
        (dragover)="onDragOver($event)"
      >
        <img *ngIf="isImage" [src]="filePreview" alt="File Preview" />
        <button
          *ngIf="isImage"
          type="button"
          icon="pi pi-times"
          class="p-button-rounded p-button-danger delete"
          (click)="deleteFile()"
        ></button>

        <label class="custom-file-upload">
          <input
            type="file"
            id="fileInput"
            (change)="onFileSelected($event)"
            accept="image/*, video/*"
          />
          Browse files
        </label>
        <!-- Add styling for drag-and-drop area -->
        <!-- Display selected file name -->
      </div>
    </div>
  </div>

  <div class="right-column">
    <form>
      <div
        class="add-collection bg-stone-700 hover:bg-stone-600"
        (click)="addCollection()"
      >
        <div class="add-button">
          <p>+</p>
        </div>
        <div
          class="flex column justify-content-center align-items-center align-self-center"
        >
          <p class="text-stone-300">Create a new collection</p>
        </div>
      </div>
      <input
        type="text"
        class="w-full rounded-lg p-3 bg-stone-700 hover:bg-stone-600"
        formControlName="email"
        pInputText
        placeholder="Name your NFT"
        style="padding-right: 1rem; margin-bottom: 30px"
      />
      <input
        type="text"
        class="w-full rounded-lg p-3 bg-stone-700 hover:bg-stone-600"
        formControlName="email"
        pInputText
        placeholder="Supply"
        style="padding-right: 1rem; margin-bottom: 30px"
      />
      <input
        type="text"
        class="w-full rounded-lg p-3 bg-stone-700 hover:bg-stone-600"
        formControlName="email"
        pInputText
        placeholder="External Link"
        style="padding-right: 1rem; margin-bottom: 30px"
      />
      <textarea
        rows="5"
        cols="30"
        class="w-full rounded-lg p-3 bg-stone-700 hover:bg-stone-600"
        placeholder="Enter a description"
        pInputTextarea
      ></textarea>

      <!-- Add more input fields as needed -->
    </form>
    <!-- Create Button -->
    <button
      pButton
      pRipple
      type="button"
      label="Create"
      class="p-button-raised"
      style="margin-top: 20px"
      (click)="createForm()"
    ></button>
  </div>
</div>
