<div class="flex justify-between items-center px-6 py-3 bg-white">
  <div class="flex ">
    <div class="hide md:flex flex-row justify-between">
      <div>
        <img src="../../assets/logo.png" />
      </div>
      <div class="self-center ml-2 font-bold text-2xl text-violet-600">
        <p>Neffty</p>
      </div>
    </div>

    <div class=" burger self-center mt-1 ml-4
    ">
      <button
        class="mx-1 bg-none text-violet-800 font-medium medium rounded px-2 py-1"
      >
        Drops
      </button>
      <button
        class="mx-1 bg-none text-violet-800 font-medium rounded px-2 py-1"
      >
        Stats
      </button>
      <button
        class="mx-1 bg-none text-violet-800 font-medium rounded px-2 py-1"
        [routerLink]="'/mint'"
      >
        Create
      </button>
    </div>
 
  </div>
  <div class="hide md:flex mx-6 ">
    <input
      class=" w-96 rounded-lg p-3 bg-stone-100 hover:bg-violet-100 outline-none"
      type="text"
      placeholder="Search..."
    />
  </div>
  <div class="flex items-center">
    <button
      class="ml-2 bg-violet-400 hover:bg-violet-500 rounded-lg px-3 py-3 text-stone-50 text-sm font-medium"
      (click)="openConnect()"
    >
      <p>Connect Wallet</p>
    </button>
    <button
      class="ml-2 bg-stone-200 rounded-lg px-3 py-3 text-stone-50 text-sm font-medium"
    >
      <img src="../../assets/profile.svg" class="icone" />
    </button>

    <button
      class="ml-2 bg-stone-200 rounded-lg px-3 py-3 text-stone-50 text-sm font-medium"
    >
      <img src="../../assets/cart.svg" class="icone" />
    </button>
  </div>
</div>
