<mat-dialog-content class="mat-typography">
  <div class="flex-container">
    <div class="flex-items">
      <div class="top-left" (click)="closeDialog()" mat-dialog-close>
        <img src="/assets/ARROW.svg" />
      </div>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div><p class="form-title">Register</p></div>
        <div class="flex-container inline">
          <input
            type="text"
            id="username"
            formControlName="username"
            class="text-input"
            placeholder="Username"
            required
          />
          <span
            class="error-message"
            *ngIf="
              registrationForm.get('username')?.hasError('required') &&
              !registrationForm.get('username')?.pristine
            "
          >
            Please enter a username
          </span>
          <input
            type="email"
            id="email"
            formControlName="email"
            class="text-input"
            placeholder="Email"
            required
          />

          <span
            class="error-message"
            *ngIf="
              registrationForm.get('email')?.hasError('email') ||
              (registrationForm.get('email')?.hasError('required') &&
                !registrationForm.get('email')?.pristine)
            "
            >Please enter a valid email</span
          >

          <input
            type="password"
            id="password"
            formControlName="password"
            class="text-input"
            placeholder="Password"
            required
          />
          <span
            class="error-message"
            *ngIf="
              registrationForm.get('password')?.hasError('required') &&
              !registrationForm.get('password')?.pristine
            "
            >Please enter a password</span
          >
          <span
            class="error-message"
            *ngIf="
              registrationForm.get('password')?.hasError('minlength') &&
              !registrationForm.get('password')?.pristine
            "
            >Password must be at least 6 characters long.</span
          >
          <input
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
            class="text-input"
            placeholder="Confirm Password"
            required
          />
          <span
            class="error-message"
            *ngIf="
              registrationForm.get('confirmPassword')?.hasError('required') &&
              !registrationForm.get('confirmPassword')?.pristine
            "
            >Please confirm your password
          </span>
          <span
            class="error-message"
            *ngIf="
              registrationForm
                .get('confirmPassword')
                ?.hasError('passwordsNotMatch') &&
              !registrationForm.get('confirmPassword')?.pristine
            "
            >Your passwords don't match
          </span>

          <span
            class="error-message"
            *ngIf="
              registrationForm.get('confirmPassword')?.valid &&
              !registrationForm.get('confirmPassword')?.pristine
            "
          >
            Match
          </span>

          <button class="submit-button">Click Me</button>
        </div>
      </form>
    </div>
    <div class="flex-items">
      <div class="background-container">
        <div class="centered-text">
          <p class="logo-title">Neffty</p>
        </div>
      </div>
    </div>
  </div>

</mat-dialog-content>
