.custom-modalbox {
  z-index: 200;
  transform: translate(-50%, -50%);
  mat-dialog-content {
    background: transparent;
  }
  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 0%;
  }
  .mdc-dialog .mdc-dialog__content {
    padding: 0px;
  }
}
.body-container {
  background-color: var(--dark-background);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}
